function Main.main 3
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
call CarGame.new 1
pop local 2
push local 2
call CarGame.run 1
pop temp 0
push local 2
call CarGame.dispose 1
pop temp 0
push constant 0
return
